.idea
.git
/c.js
/cjs.json
/index.html
/temp/
/src/
/node/
/compiled/
/modificator/node_modules
/modificator/package-lock.json
/modificator/compiler/src/server/public/temp/script.js
/pytania.json
/logo.png
/fitapp
/php