.idea
.git
/c.js
/cjs.json
/index.html
/temp/
/src/
/node/
/compiled/
/cmd/node_modules
/cmd/package-lock.json
/cmd/compiler/src/server/public/temp/script.js
/pytania.json
/logo.png
/fitapp
/php
/remotecontrol
/src.zip
/loverapp
/musicapp
